* {
    margin: 0;
    padding: 0;

}

body {
    background: #aac4cb;
}

.container {
    height: 80vh;
}


h1 {
    text-align: center;
    color: #3c3f41;
    font-family: sans-serif;
    margin-top: 20px;
    font-weight: 600;
}

p {
    text-align: center;
    color: #3c3f41;
    font-family: sans-serif;
    font-weight: bolder;
    color: #3c3f41;
    margin-top: 20px;
    font-size: 48px;
}

.totalwins{
    display: flex;
    justify-content: center;
    gap: 40%;
}

.playerX{
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    background-color: rgba(116, 0, 0, 0.794);
}

.player-x-detail{
    display: flex;
    flex-direction: column;
}

.points{
    width: 30%;
    border-radius: 10px;
    margin: 5px auto;
    background: rgba(116, 0, 0, 0.794);
    color: #fff;
}

.points-O{
    background-color: rgba(89, 112, 119, 0.774);
}



.PO{
    background-color: rgba(80, 110, 120, 0.774);
}




.hide{
    display: none;
}

.game {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 20px auto 40px ;
}

.box {
    width: 110px;
    height: 110px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 16px rgba(15, 15, 15, 0.3);
    font-size: 38px;
    color: rgba(116, 0, 0, 0.794);
    font-weight: bolder;
}

.resetbutton {
    width: 120px;
    padding: 12px 5px;
    display: block;
    margin: -20px 52%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.newbutton {
    width: 120px;
    padding: 12px 5px;
    display: block;
    margin: -40px 39%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.resetbutton:hover {
    background-color: green;
    color: #fff;
    transition: 0.2s;
}

.newbutton:hover {
    background-color: rgb(128, 0, 0);
    color: #fff;
    transition: 0.2s;
} 